<<<<<<< HEAD
*{
  box-sizing: border-box
}
body{
  background-image: none;
}

p{
  font-family: "Roboto", "Helvectia", arial, sans-serif;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 16px;
  word-spacing: 1px;
  color: rgb(102, 102, 102);
  text-align: left;
  line-height: 1.8em;
}

.item-cont{
  margin-top: 30px;
  text-align: left;
  line-height: 30px;
  background-color: white;
  color: rgb(68, 68, 68);
  margin-bottom: 30px;
}
.item-cont h2, h3{
  font-family: "Montserrat", "Helvectia", arial, sans-serif;
  font-weight: 400;
}
.item-cont h2:before{
  content: '';
  border-left: 5px solid #f66;
  margin-left: -15px;
  padding-right: 15px;

}
.mySlides{
  display: none
}
img{
  vertical-align: middle;
  width:  100%;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.3);
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.4;
}
.active, .dot:hover {
  opacity: 1;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.dcq{
  text-align: center;
  font-size: 13px;
}
.item-cont span{
  text-decoration: line-through;
}
.item-cont a{
  color: #f66;
}
.item-cont a:hover{
  text-decoration: underline;
}
.skq{
  margin-bottom: 50px;
  margin-top: 50px;
}
.imq-cont{
  overflow: auto;
  width: 100%;
  margin-bottom: 50px;
}
.imq img{
  display: inline-block;
  float: left;
  width: 50%;
  transition: 0.2s;
}
.imq img:hover{
  filter: brightness(110%);
  cursor: pointer;
}
.leq{
  margin-bottom: 100px;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-content-startpage{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1300px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 20px 0;
    height: 150px;
}
.startimg:hover{
  cursor: pointer;
}
.startcont{
  margin-top: 40px;
}
.startcont p{
  margin-bottom: 60px;
}
.item-cont #start-g:before{
  content: '';
  border-left: 5px solid #7fcd92;
  margin-left: -15px;
  padding-right: 15px;

}
.item-cont #start-y:before{
  content: '';
  border-left: 5px solid #f8be00;
  margin-left: -15px;
  padding-right: 15px;

}

.modal-content, .modal-content-startpage, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
}
#capText{
  color: white;
  opacity: 0.7;
  transition: 0.2s;
}
#capText:hover{
  color: white;
  opacity: 1
}
#startLike{
  font-size: 25px;
}
.startFoot{
  margin-bottom: 100px;
}
.oldImg{
  margin-top: 15px;
  margin-bottom: 15px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.blogcont img{
  margin-top: -20px;
}
blockquote{
  border-left: 5px solid #e6e6e6;
  margin: 2em;
  padding-left: 30px;
}
blockquote p{
  color: #999;
  font-style: italic;
}
.blogcont p {
  margin: 40px 0px;
}
video{
  width: 100%;
}
.blogcont .pio{
  margin-top: 10px;
}
.blogcont .pio-end{
  margin-bottom: 100px;
}
.blogcont h1, h2, h3{
  text-transform: uppercase;
}
@media only screen and (max-width: 560px) {
  .imq img{
    display: block;
    float: left;
    width: 100%;
  }
}
=======
*{
  box-sizing: border-box
}
body{
  background-image: none;
}

p{
  font-family: "Roboto", "Helvectia", arial, sans-serif;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 16px;
  word-spacing: 1px;
  color: rgb(102, 102, 102);
  text-align: left;
  line-height: 1.8em;
}

.item-cont{
  margin-top: 30px;
  text-align: left;
  line-height: 30px;
  background-color: white;
  color: rgb(68, 68, 68);
  margin-bottom: 30px;
}
.item-cont h2, h3{
  font-family: "Montserrat", "Helvectia", arial, sans-serif;
  font-weight: 400;
}
.item-cont h2:before{
  content: '';
  border-left: 5px solid #f66;
  margin-left: -15px;
  padding-right: 15px;

}
.mySlides{
  display: none
}
img{
  vertical-align: middle;
  width:  100%;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.3);
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.4;
}
.active, .dot:hover {
  opacity: 1;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.dcq{
  text-align: center;
  font-size: 13px;
}
.item-cont span{
  text-decoration: line-through;
}
.item-cont a{
  color: #f66;
}
.item-cont a:hover{
  text-decoration: underline;
}
.skq{
  margin-bottom: 50px;
  margin-top: 50px;
}
.imq-cont{
  overflow: auto;
  width: 100%;
  margin-bottom: 50px;
}
.imq img{
  display: inline-block;
  float: left;
  width: 50%;
  transition: 0.2s;
}
.imq img:hover{
  filter: brightness(110%);
  cursor: pointer;
}
.leq{
  margin-bottom: 100px;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-content-startpage{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1300px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 20px 0;
    height: 150px;
}
.startimg:hover{
  cursor: pointer;
}
.startcont{
  margin-top: 40px;
}
.startcont p{
  margin-bottom: 60px;
}
.item-cont #start-g:before{
  content: '';
  border-left: 5px solid #7fcd92;
  margin-left: -15px;
  padding-right: 15px;

}
.item-cont #start-y:before{
  content: '';
  border-left: 5px solid #f8be00;
  margin-left: -15px;
  padding-right: 15px;

}

.modal-content, .modal-content-startpage, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
}
#capText{
  color: white;
  opacity: 0.7;
  transition: 0.2s;
}
#capText:hover{
  color: white;
  opacity: 1
}
#startLike{
  font-size: 25px;
}
.startFoot{
  margin-bottom: 100px;
}
.oldImg{
  margin-top: 15px;
  margin-bottom: 15px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.blogcont img{
  margin-top: -20px;
}
blockquote{
  border-left: 5px solid #e6e6e6;
  margin: 2em;
  padding-left: 30px;
}
blockquote p{
  color: #999;
  font-style: italic;
}
.blogcont p {
  margin: 40px 0px;
}
video{
  width: 100%;
}
.blogcont .pio{
  margin-top: 10px;
}
.blogcont .pio-end{
  margin-bottom: 100px;
}
.blogcont h1, h2, h3{
  text-transform: uppercase;
}
@media only screen and (max-width: 560px) {
  .imq img{
    display: block;
    float: left;
    width: 100%;
  }
}
>>>>>>> 303c1e766adae4fd1e01ebffed16406978e204e6
