body{
  overflow-y: hidden;
}
#containerr{
  width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}
#containerr *{
  overflow-x: hidden;
}
h1{
  font-family: "Montserrat";
  font-weight:  lighter;
  font-size: 16px;
}
span{
  color: rgba(154,154,154, 0.5);
}
#list-container{
margin-top: 70px;
background-color: white;

}

#list-container ul {
  list-style-type: none;
  padding: 0;
  padding-top: 4px;
}
#list-container ul li {
  position: relative;
  padding: 30px 0 0px;
  border-bottom: 1px solid #e6e6e6;
}
#list-container ul li:first-child {
  margin-top: -30px;
}
#list-container h2,
#list-container h3 {
  font-family: "Montserrat";
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}
#list-container h2 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-left: 120px;
  text-align: left;
  margin:  30px 0px;
}
li i{
  position: absolute;
  right: 30px;
  color: rgba(153, 153, 153, 0.5);
  transition: 0.2s;
  margin-top: -55px;
}
li i:hover{
  color: rgba(153, 153, 153, 1);
  cursor: pointer;
}
a{
  color: #444;
}
a:hover{
  color: #f33;
}
#list-container h3 {
  font-size: 13px;
  color: #999;
  position: absolute;
  left: 0;
  top: 33px;
}

.rlw{
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow-y: hidden;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.rlw p{
  margin-left: 30px;
  float: left;
  width: 33%;
  margin-top: 150px;
}
b, b .fas{
  transition: 0.2s;
  color: #444;
}
.rlw b:hover .fa-arrow-right, b:hover{
  color: red;
}
.imgDemo{
   float: left;
   width: 60%;
   margin-left: 10px;
   margin-bottom: 30px;
   box-shadow: -1px 1px 10px  #999;
   min-width: 250px;

}
.col{
  box-shadow: none;
}
.nqf{
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow-y: hidden;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.nqf h1{
  font-family: "Montserrat";
  font-size: 32px;
  text-align: left;
  letter-spacing: normal;
  font-weight: 400;
  color: rgb(68, 68, 68);
}
.nqf img{
  width: 60%;
  min-width: 200px;
}
.nqf p{
  font-family: "Roboto";
  letter-spacing: normal;
  text-align: left;
  line-height: 1.8em;
  font-size: 16px;
  word-spacing: 1px;
  color: rgb(102, 102, 102);
}
.nqf b:hover .fa-arrow-right{
  color: red;
}
.nqf b span{
  font-size: 14px;
  color: black;
  margin-bottom: 14px;
}
.def-curs{
  cursor: default;
}
@media only screen and (max-width: 820px) {
  #containerr{
    width: 80vw;
  }
  .rlw p{
    margin-left: 0px;
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .imgDemo{
    float: none;
    margin: auto;
    width: 100%;
  }
  .bl-container h2{
    max-width: 500px;
  }
}
@media only screen and (max-width: 550px) {
  #list-container h2 {
    font-size: 19px;
  }
  li i{
    margin-top: -48px;
  }
  .bl-container h2{
    max-width: 400px;
  }
}
@media only screen and (max-width: 470px) {
  #list-container h2 {
    font-size: 14px;
  }
  .nqf p{
    font-size: 14px;
  }
  .bl-container h2{
    max-width: 300px;
  }

}
