
html, body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
body{
  font-family: "Montserrat", "Open Sans", "Arial", sans-serif;
  transition: 0.2s;
}
#qrs{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 2px;
  background-color: red;
  background-image: linear-gradient(to right, red , orange);
}
#container{
  position: absolute;
  left: 0;
  width: 1400px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -700px;
  margin-top: -150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
h1{
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 28px;
  font-family: "Montserrat", "Open Sans", Arial, sans-serif;
  color: #272525;
  transition: 0.2s;
}
p{
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  transition: 0.2s;
  color: #9a9a9a;
  letter-spacing: 2px;
}
#mwq{
  margin-top: 20px;
}
#lhq{
  margin-top: 20px;
  word-spacing: 40px;
  line-height: 30px;
  font-size: 16px;
}
#lhq a{
  color: red;
}

a{
  text-decoration: none;
  transition: 0.2s;
}
a:link{
  color: inherit;
  }
a:visited{
  color: inherit;
}
a:hover{
  opacity: 0.6;
}

a:active{
  color: #7fcd92;
}

#social{
  position: absolute;
  left: 0;
  width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#social i{
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 14px;
  color: #9a9a9a;
  opacity: 0.3;
  transition: 0.2s;
}
#social i:hover{
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #mwq{
      font-size: 16px;
    }
}
@media only screen and (max-width: 500px) {
  h1{
    font-size: 20px;
  }
  #lhq{
    word-spacing: 20px;

  }
}
