* {
  box-sizing: border-box; }

body {
  color: #2d2d2d;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0; }

a:link {
  color: inherit; }

a:visited {
  color: inherit; }

a:hover {
  color: inherit; }

a:active {
  color: inherit; }

nav {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  height: 78px;
  background-color: #1d1e25; }

.nav-container {
  margin: auto;
  max-width: 1050px;
  height: 100%;
  padding: 0px 20px; }
  .nav-container #nav-logo {
    display: inline-block;
    font-size: 22px;
    margin: 0;
    color: white;
    padding-top: 25px; }
    .nav-container #nav-logo span {
      font-weight: 800; }
  .nav-container #nav-icons {
    padding-top: 15px;
    color: #bec6d5;
    font-size: 25px;
    display: inline-block;
    float: right;
    height: inherit; }
    .nav-container #nav-icons:hover {
      cursor: default; }
    .nav-container #nav-icons a, .nav-container #nav-icons div {
      text-decoration: none;
      border-radius: 10px;
      padding: 9px 15px;
      margin: 0px 10px; }
      .nav-container #nav-icons a:hover, .nav-container #nav-icons div:hover {
        cursor: pointer;
        background-color: #16161c; }
        .nav-container #nav-icons a:hover span, .nav-container #nav-icons div:hover span {
          opacity: 1; }
      .nav-container #nav-icons a span, .nav-container #nav-icons div span {
        background-color: #16161c;
        border-radius: 5px;
        padding: 5px 10px;
        text-align: left;
        position: absolute;
        margin-left: -42px;
        margin-top: 59px;
        font-size: 15px;
        opacity: 0; }
      .nav-container #nav-icons a .projects, .nav-container #nav-icons div .projects {
        margin-left: -50px; }
      .nav-container #nav-icons a .blog, .nav-container #nav-icons div .blog {
        margin-left: -35px; }
      .nav-container #nav-icons a .exp, .nav-container #nav-icons div .exp {
        margin-left: -60px; }
      .nav-container #nav-icons a .skills, .nav-container #nav-icons div .skills {
        margin-left: -40px; }
      .nav-container #nav-icons a .contact, .nav-container #nav-icons div .contact {
        margin-left: -47px; }
    .nav-container #nav-icons .chromeFix {
      padding-right: 9px; }
  .nav-container div {
    display: inline-block; }

.main-container {
  width: 100%;
  height: 790px;
  background: #30353a;
  /* Old browsers */
  background: #30353a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #30353a 0%, #31343d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #30353a 0%, #31343d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #30353a 0%, #31343d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .main-container .main-child {
    height: inherit;
    max-width: 1050px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .main-container .main-child .main-text {
      text-align: center;
      margin: auto; }
      .main-container .main-child .main-text .b {
        color: #45bafc; }
      .main-container .main-child .main-text .y {
        color: #f2d97b; }
      .main-container .main-child .main-text h1 {
        color: white;
        font-size: 45px;
        font-weight: 800; }
      .main-container .main-child .main-text p {
        color: #bec6d5;
        font-size: 24px;
        width: 615px;
        margin-bottom: 60px; }
      .main-container .main-child .main-text a {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.2);
        color: #dcdcde;
        text-decoration: none;
        border: 1px solid rgba(255, 255, 255, 0.47);
        font-size: 22px;
        font-weight: 800;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.05);
        padding: 20px 30px;
        transition: 0.2s; }
        .main-container .main-child .main-text a:hover {
          background-color: rgba(255, 255, 255, 0.1); }

.scroll-fix {
  position: absolute;
  margin-top: -78px; }

.project-container {
  width: 100%;
  padding-bottom: 10px;
  background: #f6f6f7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6f6f7 50%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6f6f7 50%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6f6f7 50%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .project-container .project-child {
    max-width: 1050px;
    margin: auto; }
    .project-container .project-child h1 {
      padding: 70px 0px;
      margin: 0;
      text-align: center; }
    .project-container .project-child .project-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .project-container .project-child .project-flex .card {
        height: 500px;
        flex: 1 1 300px;
        margin: 10px 2.38%;
        color: #4e4e4e; }
        .project-container .project-child .project-flex .card a.box {
          display: inline-block;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.09);
          height: 285px;
          width: 100%;
          border-radius: 5px;
          text-decoration: none;
          background-image: url("assets/quoteGame.png");
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: local;
          background-size: cover;
          -moz-background-size: cover;
          -webkit-background-size: cover;
          transition: 0.2s; }
          .project-container .project-child .project-flex .card a.box:hover {
            box-shadow: 0 7px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12); }
        .project-container .project-child .project-flex .card a.k {
          background-image: url("assets/kaiten.png"); }
        .project-container .project-child .project-flex .card a.s {
          background-image: url("assets/startpage.png"); }
        .project-container .project-child .project-flex .card h2 {
          font-weight: 800;
          margin-bottom: 3px; }
        .project-container .project-child .project-flex .card span {
          font-size: 13px;
          color: #b7b7b7; }
        .project-container .project-child .project-flex .card p {
          font-size: 16px;
          color: #737171; }
          .project-container .project-child .project-flex .card p b {
            color: #3a3a3a; }
            .project-container .project-child .project-flex .card p b a {
              text-decoration: none; }
              .project-container .project-child .project-flex .card p b a:hover {
                text-decoration: underline; }
    .project-container .project-child .view {
      color: white; }

.view {
  text-align: center;
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 80px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 30px;
  margin-bottom: 100px; }

.green-gradient {
  border-radius: 10px;
  color: white;
  font-weight: 800;
  background-size: 200% auto;
  background-position: center center;
  transition: 0.5s;
  background-image: linear-gradient(290.7deg, #85ff9f 2.3%, #00acf9 100.2%); }
  .green-gradient:hover {
    background-position: right center; }

.blog-container {
  background-color: white;
  text-align: center;
  color: #2d2d2d;
  padding-bottom: 50px; }
  .blog-container .blog-child {
    max-width: 1050px;
    margin: auto;
    padding: 0 20px; }
    .blog-container .blog-child .view {
      margin-top: 300px;
      color: white; }
    .blog-container .blog-child h1 {
      font-weight: 800;
      margin: 0;
      padding-top: 70px;
      padding-bottom: 10px; }
    .blog-container .blog-child p {
      color: #858787;
      font-size: 18px; }
    .blog-container .blog-child ul {
      text-align: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 30px; }
      .blog-container .blog-child ul li {
        padding: 12px 10px;
        border-bottom: 3px solid #f6f6f7; }
        .blog-container .blog-child ul li:hover {
          background-color: #f6f6f7; }
        .blog-container .blog-child ul li img {
          display: inline-block;
          width: 40px;
          margin-bottom: -10px; }
        .blog-container .blog-child ul li p {
          margin-left: 30px;
          font-size: 20px;
          font-weight: 700;
          color: #4e4e4e;
          display: inline-block; }
        .blog-container .blog-child ul li span {
          padding-top: 20px;
          float: right;
          font-size: 20px;
          font-weight: 700;
          color: #c2c2c2;
          text-align: right; }

.skills-container {
  width: 100%;
  padding-bottom: 105px;
  background: #f6f6f7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6f6f7 50%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6f6f7 50%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6f6f7 50%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .skills-container .skills-child {
    display: block;
    max-width: 1050px;
    margin: auto;
    text-align: center;
    color: #2d2d2d; }
    .skills-container .skills-child h1 {
      font-weight: 800;
      margin: 0;
      padding-top: 70px;
      padding-bottom: 20px; }
    .skills-container .skills-child p {
      line-height: 33px;
      margin: auto;
      width: 530px;
      color: #858787;
      font-size: 17px; }
    .skills-container .skills-child .sk-container {
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;
      margin-top: 30px; }
      .skills-container .skills-child .sk-container .sk {
        z-index: 1;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        padding: 40px 71px;
        background: #fff;
        border: 1px solid #ebecec;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        margin: 5px; }
        .skills-container .skills-child .sk-container .sk:hover {
          cursor: default;
          transform: translateY(-2%);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05); }
        .skills-container .skills-child .sk-container .sk img {
          display: block;
          margin: 0 auto;
          width: 40px; }
        .skills-container .skills-child .sk-container .sk h3 {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.04em; }

.exp-container {
  background-color: white;
  padding-bottom: 300px; }
  .exp-container .exp-child {
    max-width: 1050px;
    text-align: center;
    margin: auto; }
    .exp-container .exp-child h1 {
      font-weight: 800;
      margin: 0;
      padding-top: 70px;
      padding-bottom: 20px; }
    .exp-container .exp-child p {
      line-height: 33px;
      margin: auto;
      width: 100%;
      color: #858787;
      font-size: 17px;
      margin-bottom: 80px; }
    .exp-container .exp-child .job-cont {
      padding: 0px 20px; }
    .exp-container .exp-child .job-logo-cont {
      height: 300px;
      width: 30%;
      display: inline-block;
      float: left; }
      .exp-container .exp-child .job-logo-cont img {
        float: left;
        min-width: 100px;
        max-width: 200px; }
      .exp-container .exp-child .job-logo-cont p {
        float: left;
        text-align: left;
        margin-top: 20px;
        font-size: 18px;
        color: #b7b3b3; }
    .exp-container .exp-child .jobtext-cont {
      text-align: left;
      width: 70%;
      display: inline-block;
      color: #2d2d2d; }
      .exp-container .exp-child .jobtext-cont h3 {
        margin: 0;
        font-size: 20px;
        font-weight: 800; }
      .exp-container .exp-child .jobtext-cont p {
        margin-top: 30px;
        width: 100%;
        font-size: 16px;
        line-height: 30px;
        float: left;
        color: inherit;
        padding: 0;
        margin-bottom: 40px; }
      .exp-container .exp-child .jobtext-cont ul {
        margin: 0; }
        .exp-container .exp-child .jobtext-cont ul li {
          line-height: 30px;
          padding: 12px 0px; }

.contact-container {
  padding-bottom: 100px;
  width: 100%;
  background: #f6f6f7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6f6f7 20%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6f6f7 20%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6f6f7 20%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .contact-container .contact-child {
    max-width: 1050px;
    margin: auto;
    text-align: center; }
    .contact-container .contact-child h1 {
      padding: 0;
      font-weight: 800;
      margin: 0;
      padding-top: 70px;
      padding-bottom: 20px; }
    .contact-container .contact-child p {
      line-height: 33px;
      margin: auto;
      width: 590px;
      color: #858787;
      font-size: 17px;
      margin-bottom: 30px; }
      .contact-container .contact-child p .b {
        color: #2fe3e3;
        text-decoration: none; }
    .contact-container .contact-child .form-container {
      width: 630px;
      padding: 30px 50px;
      border-radius: 10px;
      background-color: rgba(226, 226, 226, 0.2);
      margin: auto;
      margin-top: 0;
      text-align: left; }
      .contact-container .contact-child .form-container label {
        display: block;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 0px;
        padding-top: 20px; }
      .contact-container .contact-child .form-container input[type="text"], .contact-container .contact-child .form-container input[type="email"], .contact-container .contact-child .form-container textarea {
        font-family: "Nunito Sans";
        border: 1px solid #ebecec;
        padding: 20px;
        width: 100%;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
      .contact-container .contact-child .form-container textarea {
        height: 200px; }
      .contact-container .contact-child .form-container input[type="submit"] {
        margin-top: 20px;
        font-weight: 800;
        display: block;
        padding: 18px 28px;
        border: 0px;
        font-size: 18px; }
        .contact-container .contact-child .form-container input[type="submit"]:hover {
          cursor: pointer; }

.footer-container {
  display: block;
  color: #d6dcdc;
  height: 300px;
  width: 100%;
  background-color: #292c33;
  text-align: center; }
  .footer-container h1 {
    margin: 0;
    padding-top: 60px;
    color: white;
    font-weight: 300;
    font-size: 40px; }
    .footer-container h1 span {
      color: #f2d97b;
      font-weight: 800; }
  .footer-container p {
    font-size: 18px; }
  .footer-container a {
    font-size: 30px;
    font-weight: lighter;
    padding: 10px 10px;
    opacity: 0.6; }
    .footer-container a:hover {
      opacity: 1; }

body.nightmode .nav-container {
  color: #91d2fa; }
  body.nightmode .nav-container #nav-logo span {
    color: #c0ccda; }
  body.nightmode .nav-container #nav-icons div {
    background-color: #2d2d2d; }
    body.nightmode .nav-container #nav-icons div i {
      color: #fea700; }
body.nightmode .main-container {
  background: #34363d; }
  body.nightmode .main-container .main-child .main-text .b {
    color: #bec6d5; }
  body.nightmode .main-container .main-child .main-text .y {
    color: #e2c891; }
  body.nightmode .main-container .main-child .main-text p {
    color: #bec6d5; }
body.nightmode .project-container {
  background: rgba(29, 30, 37, 0.95);
  color: #bec6d5;
  border-bottom: 1px solid #262933; }
  body.nightmode .project-container .project-child h1 {
    color: white; }
  body.nightmode .project-container .project-child .project-flex {
    color: #bec6d5; }
    body.nightmode .project-container .project-child .project-flex .box {
      filter: brightness(80%);
      transition: 0.3s; }
      body.nightmode .project-container .project-child .project-flex .box:hover {
        filter: brightness(100%); }
    body.nightmode .project-container .project-child .project-flex h2 {
      color: #e2c891; }
    body.nightmode .project-container .project-child .project-flex span {
      color: #8899a6; }
    body.nightmode .project-container .project-child .project-flex p {
      color: #bec6d5; }
    body.nightmode .project-container .project-child .project-flex a {
      color: white; }
body.nightmode .view {
  background: rgba(255, 255, 255, 0.07); }
  body.nightmode .view:hover {
    color: white;
    background: rgba(255, 255, 255, 0.13); }
body.nightmode .blog-container {
  background: #2e323e;
  /* Old browsers */ }
  body.nightmode .blog-container .blog-child h1 {
    color: #c0ccda; }
  body.nightmode .blog-container .blog-child p {
    color: #8899a6; }
  body.nightmode .blog-container .blog-child ul p {
    color: #e2c891; }
  body.nightmode .blog-container .blog-child li {
    border-bottom: 3px solid #262933; }
    body.nightmode .blog-container .blog-child li:hover {
      background-color: #262933; }
  body.nightmode .blog-container .blog-child span {
    color: #6c829c; }
body.nightmode .skills-container {
  background: #30353a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #30353a 0%, #31343d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #30353a 0%, #31343d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #30353a 0%, #31343d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  body.nightmode .skills-container .skills-child h1 {
    color: #bec6d5; }
  body.nightmode .skills-container .skills-child p {
    color: #8899a6; }
  body.nightmode .skills-container .skills-child .sk {
    border: none;
    background-color: #262933; }
    body.nightmode .skills-container .skills-child .sk h3 {
      color: #e2c891; }
body.nightmode .exp-container {
  background: #2e323e; }
  body.nightmode .exp-container .exp-child h1, body.nightmode .exp-container .exp-child h3 {
    color: #c0ccda; }
  body.nightmode .exp-container .exp-child p, body.nightmode .exp-container .exp-child ul li {
    color: #8899a6; }
body.nightmode .contact-container {
  background: #30353a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #30353a 0%, #31343d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #30353a 0%, #31343d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #30353a 0%, #31343d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  body.nightmode .contact-container .contact-child h1 {
    color: #bec6d5; }
  body.nightmode .contact-container .contact-child p, body.nightmode .contact-container .contact-child label {
    color: #8899a6; }
  body.nightmode .contact-container .contact-child .form-container {
    background-color: #262933; }
  body.nightmode .contact-container .contact-child input[type="submit"] {
    background: rgba(255, 255, 255, 0.07); }
    body.nightmode .contact-container .contact-child input[type="submit"]:hover {
      color: white;
      background: rgba(255, 255, 255, 0.13); }

@media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-height: 769px) {
  .main-container, nav, .blog-child, .skills-child, .project-child, .exp-child, .footer-container {
    zoom: 0.8;
    /* Other non-webkit browsers */
    zoom: 80%;
    /* Webkit browsers */ }

  .contact-child {
    zoom: 0.74;
    /* Other non-webkit browsers */
    zoom: 74%;
    /* Webkit browsers */ }

  .scroll-fix {
    margin-top: -63px; } }
@media only screen and (min-width: 650px) {
  .card {
    -webkit-box-flex: 1;
    flex: 1 1 500px; } }
@media only screen and (max-width: 1070px) {
  .project-container .project-child .project-flex .card a.box {
    background-color: #fafafa;
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain; }
  .project-container .project-child .project-flex .card a.k {
    background-color: #bc8ab8; } }
@media only screen and (max-width: 900px) {
  .exp-container .exp-child .job-logo-cont {
    height: auto;
    display: block;
    width: 100%;
    margin: auto;
    float: none;
    margin-bottom: 30px; }
    .exp-container .exp-child .job-logo-cont img {
      float: none;
      margin: auto; }
    .exp-container .exp-child .job-logo-cont p {
      float: none;
      text-align: center;
      margin-bottom: 0; }
  .exp-container .exp-child .job-text-cont {
    float: none;
    display: block;
    width: 90%;
    margin: auto; } }
@media only screen and (max-width: 750px) {
  .nav-container #nav-logo {
    display: block;
    text-align: center; }
  .nav-container #nav-icons {
    height: auto;
    background-color: #21222a;
    margin: 0;
    margin-left: -20px;
    width: 125vw;
    float: left;
    padding: 0;
    margin-top: 20px; }
    .nav-container #nav-icons a, .nav-container #nav-icons div {
      font-size: 15px;
      text-align: center;
      float: left;
      display: inline-block;
      width: 16.666%;
      border-radius: 0;
      padding: 10px 0;
      margin: 0; }
      .nav-container #nav-icons a span, .nav-container #nav-icons div span {
        margin-top: 35px; }
    .nav-container #nav-icons .chromeFix {
      padding-right: 0; }

  .main-container .main-child .main-text p {
    margin-left: auto;
    margin-right: auto;
    width: 90%; } }
@media only screen and (max-width: 700px) {
  .blog-container .blog-child ul li p {
    width: 80%; }
  .blog-container .blog-child ul li span {
    display: none; }

  .skills-container .skills-child p {
    width: 80%; }

  .contact-container .contact-child p {
    width: 90%; }
  .contact-container .contact-child .form-container {
    width: 100%; }
    .contact-container .contact-child .form-container input[type="submit"] {
      margin-right: auto;
      margin-left: auto; } }
@media only screen and (max-width: 476px) {
  .main-container .main-child .main-text p {
    font-size: 20px; }
  .main-container .main-child .main-text h1 {
    font-size: 36px; } }
@media only screen and (max-width: 541px) {
  .blog-container .blog-child ul li img {
    margin-bottom: 0; } }
@media only screen and (max-width: 427px) {
  .blog-container .blog-child ul li p {
    font-size: 18px;
    width: 70%;
    margin-left: 30px;
    margin-right: auto; } }
@media only screen and (max-width: 350px) {
  .project-container .project-child .project-flex .card {
    height: 550px; }

  .blog-container .blog-child ul li img {
    display: block;
    margin: auto; }
  .blog-container .blog-child ul li p {
    width: 100%;
    text-align: center;
    margin-left: 0; } }

/*# sourceMappingURL=stylesheet.css.map */
