
html, body{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Montserrat", "Open Sans", "Arial", sans-serif;
  background-image: url("bg/0.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  transition: 0.2s;
}
#container{
  position: absolute;
  left: 0;
  width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
h1{
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 25px;
  font-family: "Montserrat", "Open Sans", Arial, sans-serif;
  color: #272525;
  transition: 0.2s;
}
p{
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  transition: 0.2s;
  color: #9a9a9a;
  letter-spacing: 2px;
}
#mwq{
  margin-top: 20px;
}
#lhq{
  margin-top: 30px;
  letter-spacing: normal;
  font-family: "Montserrat";
  font-size: 18px;

}
a{
  color: red;
  text-decoration: none;
  transition: 0.2s;
}
a:link{
  text-decoration: none;
  }
a:visited{
  color: red;
  text-decoration: none;
}
a:hover{
  color: #7fcd92;
  text-decoration: none;
}

a:active{
  color: #7fcd92;
  text-decoration: none;
}
#imgfake{
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 100px;
  margin: auto;
  margin-left: 48%;
  margin-bottom: 1%;
}
#imgfake:hover{
  cursor: pointer;
}
@media only screen and (max-width: 1400px) {
  #imgfake{
    margin-left: 47%;
  }
}
@media only screen and (max-width: 850px) {
  #imgfake{
    margin-left: 45%;
  }
}

@media only screen and (max-width: 600px) {
    #container{
      width: 350px;
      margin-left: -175px;
    }
    #mwq{
      font-size: 16px;
    }
    #lhq{
      margin-top: 30px;
      font-size: 14px;
    }
}
@media only screen and (max-width: 550px) {
  #imgfake{
    margin-left: 41%;
  }
}
