@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /* --light: rgba(0,0,0,0.6); */
  --dark: #171717;
  --font-size-xl: 32px;
  --font-size-l: 26px;
  --font-size-m: 14px;
  --font-size-s: 10px;

  --font-size-m-alt: 16px;

  --color-a: #458588;
  --light: rgb(75, 85, 99);
  --interaction-border: 1px solid rgba(156, 163, 175, 0.5);

  --bg: #fff;
  --text-color: rgb(23,23,23);
  --text-color-2: rgb(75, 85, 99);
  --text-color-3: rgb(156, 163, 175);
  --theme-filter: invert(0);
  --bg-alt: #fff;
}

.dark{
  --bg: #16191a;
  --text-color: rgb(218, 215, 210);
  --text-color-2: rgb(177, 170, 160);
  --text-color-3: rgb(175, 169, 158);
  --theme-filter: invert(1);
  --bg-alt: #151515;
  
}

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
}


body{
  overflow-y: scroll;
  font-family: var(--font-geist-sans);
  background: var(--bg);
  color: var(--text-color);
  overflow-x: hidden;
}



::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
    transition: 0.2s background-color;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    -webkit-border-radius: 100px;
    transition: 0.2s;
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 100px;
}

/* add vertical min-height & horizontal min-width */
::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  min-width: 10px;
}

.cm-scroller{
  overflow-x: hidden !important;
}

.katex{
  line-height: 2 !important;
}

.backBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height: 50px;
  border-radius: 5px;
  position: absolute; 
  top: 20px;
  left: 50%;
  margin-left: -394px;
  font-size: 16px;
  z-index: 1;
  transition: 0.2s;
  opacity: 0.8;
  user-select: none;
}

.backBtn:visited{
  color: inherit;
}

.backBtn:hover{
  opacity: 1;
  border: var(--interaction-border);
}

.backBtn:active{
   background: rgba(75, 85, 99, 0.05);
}

@media (width < 960px){
  :root{
    --font-size-xl: 26px;
    --font-size-l: 20px;
    --font-size-m: 10px;
    --font-size-s: 8px;
    --font-size-m-alt: 16px;
  }

  .katex{
    font-size: 0.9em !important;
  }
}

@media(width < 600px){
    :root{
    --font-size-xl: 24px;
  }

    .katex{
    font-size: 0.72em !important;
  }

  .backBtn{
    height: 40px;
    width: 40px;
  }
}

@media(width < 460px){
  .__Latex__{
    font-size: 15px;
  }
}


.dark .sp-wrapper *{
  --sp-space-1: 4px;
  --sp-space-2: 8px;
  --sp-space-3: 12px;
  --sp-space-4: 16px;
  --sp-space-5: 20px;
  --sp-space-6: 24px;
  --sp-space-7: 28px;
  --sp-space-8: 32px;
  --sp-space-9: 36px;
  --sp-space-10: 40px;
  --sp-space-11: 44px;
  --sp-border-radius: 4px;
  --sp-layout-height: 300px;
  --sp-layout-headerHeight: 40px;
  --sp-transitions-default: 150ms ease;
  --sp-zIndices-base: 1;
  --sp-zIndices-overlay: 2;
  --sp-zIndices-top: 3;
  --sp-colors-surface1: #151515;
  --sp-colors-surface2: #252525;
  --sp-colors-surface3: #2F2F2F;
  --sp-colors-disabled: #4D4D4D;
  --sp-colors-base: #808080;
  --sp-colors-clickable: #999999;
  --sp-colors-hover: #C5C5C5;
  --sp-colors-accent: #E5E5E5;
  --sp-colors-error: #FFB4A6;
  --sp-colors-errorSurface: #690000;
  --sp-colors-warning: #E7C400;
  --sp-colors-warningSurface: #3A3000;
  --sp-font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --sp-font-mono: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
  --sp-font-size: 9px;
  --sp-font-lineHeight: 1.7;
  --sp-syntax-color-plain: #FFFFFF;
  --sp-syntax-color-comment: #757575;
  --sp-syntax-fontStyle-comment: italic;
  --sp-syntax-color-keyword: #77B7D7;
  --sp-syntax-color-tag: #DFAB5C;
  --sp-syntax-color-punctuation: #ffffff;
  --sp-syntax-color-definition: #86D9CA;
  --sp-syntax-color-property: #77B7D7;
  --sp-syntax-color-static: #C64640;
  --sp-syntax-color-string: #977CDC;
}

/* bravo. bravo. */
[style="color:#005cc5"] {
    color: #3496ff !important;
}

[style="color:#032f62"]{
  color: #98d0eb !important;
}

.dark .sp-preview-container{
  background: rgba(0, 0, 0, 0.35);
  /* background: var(--bg); */
}

.dark .sp-preview-iframe  {
  filter: invert(0.95);
}

.dark .react-loading-skeleton{
  --base-color: var(--bg);
  --highlight-color: rgba(255, 255, 255, 0.01)
}
.dark .legendtext{
  fill: white !important;
}


.__Latex__{
  color: var(--text-color);
}